$default-pixel: 8px;

p {
  font-family: Lato;
}

.card {
  top: $default-pixel * $default-pixel / 1px;
  margin: auto;
  width: $default-pixel * $default-pixel * $default-pixel / (1px * 1px);
}

.form-group {
  margin: $default-pixel;

  & .email {
    margin: $default-pixel;
  }
  & .password {
    margin: $default-pixel;
  }
}

.btn {
  margin: $default-pixel
}

.btn-wrapper {
  text-align: center;
}

.please-register {
  display: block;
}
